<h2>ユーザ登録情報変更</h2>
<br>
<br>
<br>
<br>

<form>
  <div class="form-group">
    <label for="e-mail">e-mail</label>
    <input type="text" id="e-mail" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="text" id="password" class="form-control">
  </div>
  <div class="form-group">
    <label for="place">place</label>
    <select id="place" class="form-control">
      <option>上田
      <option>塩尻
      <option>広丘
      <option>松本南
    </select>
  </div>
  <div class="form-group">
    <label for="place">circle</label>
    <select id="place" class="form-control">
      <option>サークル1
      <option>サークル2
      <option>サークル3
      <option>サークル4
    </select>
  </div>
  <button class="btn btn-info"><a href="/mypage/index">OK</a></button>
</form>