<div class="row">
  <div class="col-md-9">
  <h1>
    <%= @tag.tag_name %>
    の画像一覧
  </h1>
  <% scope1 = Picture.where(picture_tag1_id: @tag.id); %>
  <% scope2 = Picture.where(picture_tag2_id: @tag.id); %>
  <% scope3 = Picture.where(picture_tag3_id: @tag.id); %>
  <% condition1 = Picture.arel_table.grouping(scope1.where_values.reduce(:and)) %>
  <% condition2 = Picture.arel_table.grouping(scope2.where_values.reduce(:and)) %>
  <% condition3 = Picture.arel_table.grouping(scope3.where_values.reduce(:and)) %>
  <% Picture.where(condition1.or(condition2.or(condition3))).tap { |scope| scope.bind_values = scope1.bind_values + scope2.bind_values + scope3.bind_values }.all.in_groups_of(3) do |group| %>
  <% group.compact.each do |picture| %>
  <div class="col-md-4">
    <div class="main">
      <h4><%= picture.picture_title %></h4>
      <div><%= link_to image_tag(picture.picture_data(), width: 280, height: 210), picture %></div>
    </div>
  </div>
  <% end %>
  <% end %>
    </div>
  <div class="col-md-3">
    <div class="sub">
      <div id="calendar"></div>
      <h3>タグ一覧</h3>
      <div class="contents">
        <ul>
          <% Tag.all.compact.each do |tag| %>
          <li><%= link_to tag.tag_name, tag %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />
