



<h1>New Picture</h1>
<%= render 'form' %>




<h4>写真投稿</h4>

<% form_for @picture do |f| %>
<table class="atteibutes">
  <tr>
    <th>タイトル</th>
    <td><%= f.text_field :picture_title %></td>
  </tr>
</table>

<div class="submit">
  <%= f.submit '追加' %>
</div>
<% end %>

<%= link_to 'Back', pictures_path %>
