@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.fa { padding-left: 10px; padding-right: 10px; }
.container a.navbar-brand { font-size: 15px; }

body {
    padding-top: 70px;
}