// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#image_a {margin: 100px 0 0 0;}